/* TEXT */
p{
    font-size: 19px;
    margin: 5px;
    white-space: normal;
    max-width: 100%;
    word-wrap: break-word;
  overflow-wrap: break-word;
}

.p22{
    font-size: 20px;
    font-style: italic;
    color: rgb(193, 23, 193);
}
.p24{
    font-size: 23px;
    padding: 10px;
}
.p16{
    font-size: 16px;
    padding: 10px;
}

em{
    /* font-family: 'Caveat', cursive; */
    font-family: 'Indie Flower', cursive;
    /* font-style: italic; */
    letter-spacing: 1px;
    color: #333;
    font-size: 22px;
}
h1{
    color: rgb(0, 128, 122);
    font-size: 28px;
    text-align: center;
}
h1 a{
    color: rgb(0, 128, 122);
    font-size: 28px;
    text-decoration: none;
}
h1:hover{
    color: rgb(4, 212, 118);
    scale: calc(1.3);
}
h2{
    color: rgba(203, 5, 203, 0.963);
}
h3{
    color: green;
    font-size: 24px;
}
h4{
    color: rgb(0, 128, 122);
    font-size: 24px;
}
h5{
    color: rgb(193, 3, 104);
    font-size: 22px;
    margin: 0;
    margin-top: 25px;
}

h6{
    color: rgb(51, 128, 0);
    /* text-align: center; */
    font-size: 18px;
    margin: 5px 0;
}
.title{
font-size:24px;
color:#ff8c42;
margin-bottom:10px;
}
.red{
    color: red;
}
.orang{
    color:#ff8c42;
    font-family: 20px;
}
.yellow{
    color: rgb(237, 92, 2);
}
.blue{
    color:#086ae3!important;
    font-family: 20px;
}
.green{
    color:#12ce08;
}
.violet{
    color: #801eff;
}
.border{
    border: 15px solid black;
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    text-indent: 50px;
}
