.ru-btn {
    margin-top: 15px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    width: 70px;
    margin-right: 30px;
}

.answer{
    display: none;
}
/* Модалка */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal-content {
    background: #fff;
    padding: 20px;
    max-width: 900px;
    width: 90%;
    max-height: 80vh;        /* 👈 ограничение по высоте */
    overflow-y: auto;        /* 👈 вертикальная прокрутка */
    border-radius: 8px;
    position: relative;
}

.close {
    position: sticky;        /* чтобы крестик был виден при прокрутке */
    top: 0;
    float: right;
    cursor: pointer;
    background: #fff;
    padding: 4px 8px;
    z-index: 10;
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.modal-word {
    color: #0a58ca;
    cursor: pointer;
    text-decoration: underline;
}

.modal-word:hover {
    opacity: 0.8;
}
